* {
    box-sizing: border-box;
    margin: 0;
}

.meme-display {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    width: fit-content;
    height: auto;
    margin: auto;
    outline: 1px solid black;
}

.meme-image {
    max-width: 750px;
    max-height: 750px;
}

.clear-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    font-weight: bold;
    background-clip: text;
    background-color: rgb(234, 234, 234);
    color: transparent;
    border: none;
}

.top-text {
    position: absolute;
    top: 5%;
    width: 95%;
    height: 45%;
    margin: auto;
}

.bottom-text {
    position: absolute;
    bottom: 5%;
    width: 95%;
    max-height: 45%;
    margin: auto;
}

.meme-text {
    text-align: center;
    word-wrap: break-word;
    font-weight: bolder;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    overflow: hidden;
}

.input-form {
    width: 45%;
    margin: 2.5em auto 0 auto;
    display: flex;
    justify-content: center;
}
